layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical"{
        pane split_direction="horizontal" {
            pane size="70%" {
                command "nvim"
                args "."
                cwd "/home/bogdan/edifice-infrastructure"
            }
            pane size="30%" {
                cwd "/home/bogdan/edifice-infrastructure"
            }
        }
        pane split_direction="horizontal" {
            pane size="70%" {
                command "nvim"
                args "."
                cwd "/home/bogdan/Documents/smartcat/edifice/edifice-infrastructure"
            }
            pane size="30%" {
                cwd "/home/bogdan/Documents/smartcat/edifice/edifice-infrastructure"
            }
        }
    }
    pane size=2 borderless=true {
        plugin location="status-bar"
    }
}
